
header{
    overflow: hidden;
}
.logo{
    background-color: tomato;
    height: 80px;
    width: 30%;
    color: white;
    text-align: center;
    float: left;

}
.banar{
    height: 80px;
    width: 70%;
    color: white;
    text-align: center;
    background-color:darkgoldenrod;
    float: right;
}
.slider{
    background-color:indigo;
    height: 200px;
    color: white;
    text-align: center;
    

}

.blocks{
    overflow: hidden;

}
.left_block{
    width: 25%;
    background-color: sienna;
    text-align: center;
    color: white;
    height: 500px;
    float: left;

}
.center_block{
    width:50%;
    height: 500px;
    text-align: center;
    color: white;
    background-color: salmon;
    float: left;
}
.right_block{
    width: 25%;
    height: 500px;
    background-color:darkgreen;
    text-align: center;
    color: white;
    float: left;
}

.center_left{
    width: 50%;
    height: 100%;
    background-color: mediumvioletred;
    float: left;

}
.center_right{
    width: 50%;
    height: 100%;
    background-color: navy;
    float: right;

}
.top{
    height: 25%;
    width: 100%;
    background-color: blue;

}
.middle{
    height: 50%;
    width: 100%;
    background-color:darkgoldenrod
}
.buttom{
    height: 25%;
    width: 100%;
    background-color:darkorange;
}
footer{
    background-color:maroon;
    text-align: center;
    color: white;
    height: 80%;
}
h1{
    page-break-inside: 0;
    margin: 0%;
}